@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    font-family: Oswald;
    background-color: #004175;
    border-color: #89DEEF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
 .headernav {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: large;
  }
  a.headernav:link {
    color: white;
    text-decoration: none;
  }
  a.headernav:visited {
    color: white;
    text-decoration: none;
  }
  a.headernav:hover {
    font-size: 110%;
  }
  a.headernav:active {
    color: red;
  }
  .herodog {
    width: 100%;
    height: auto;
  }
  p {
    font-family: Oswald;
    font-size: 18px;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
  }
  #last {
    padding-bottom: 25px;
  }
.adopt {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.dogpen {
  display: flex;
  flex-flow: row wrap;
}
.dogbox {
  display: block;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
}
.beans {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.zelda {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.baby {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.tomtom {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.marco {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.shackleton {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.midge {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.ladybird {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.mina {
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
li.traits {
    display: inline-table;
    background-color: #89DEEF;
    border-radius: 6px;
    list-style-type: none;
    margin-top: 10px;
  }
.contact {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 0px;
}
ul.hours {
    list-style-type: square;
    list-style-position: inside;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 50px;
}
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: stretch;
    width: auto;
    height: 520px;
    margin-top: 30px;
    /*padding-top: 35px; */
  }
  .footer a {
    font-size: 60px;
    font-family: Oswald;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 225px;
  }
  .donate {
    display: flex;
    background: 
    linear-gradient(
      rgba(127, 17, 224, 0.45), 
      rgba(127, 17, 224, 0.45)
    ),
    url(images/donate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
  }
  .location {
    display: flex;
    background: 
    linear-gradient(
      rgba(127, 17, 224, 0.45), 
      rgba(127, 17, 224, 0.45)
    ),
    url(images/location.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
  }
  .volunteer {
    display: flex;
    background: 
    linear-gradient(
      rgba(127, 17, 224, 0.45), 
      rgba(127, 17, 224, 0.45)
    ),
    url(images/volunteer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
  }