@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    font-family: Oswald;
    background-color: #004175;
    border-color: #89DEEF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
 .headernav {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: large;
  }
  a.headernav:link {
    color: white;
    text-decoration: none;
  }
  a.headernav:visited {
    color: white;
    text-decoration: none;
  }
  a.headernav:hover {
    font-size: 110%;
  }
  a.headernav:active {
    color: red;
  }
  .herodog {
    width: 100%;
    height: auto;
  }
  p {
    font-family: Oswald;
    font-size: 18px;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
  }
.dogbox {
  display: inline-block;
  height: 400px;
  width: 315px;
  text-align: left;
  border: 2px lightgray;
  border-style: groove;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
li {
    display: inline-table;
    background-color: #89DEEF;
    border-radius: 6px;
    list-style-type: none;
  } 
.footer {
    padding-top: 25px;
    display: flex;
  }

  .footerimg {
    flex: 1 1 auto;
  }